/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

/* Navbar Title */
.navbar-brand {
	font-family: 'Poppins', sans-serif;
	font-size: 1.4em !important;
	color: white !important;
}


/* Shadow effect for navbar */
.navbar {
	-webkit-box-shadow: 0 8px 6px -6px #222;
	-moz-box-shadow: 0 8px 6px -6px #222;
	box-shadow: 0 8px 6px -6px #222;
}

/* Clock and next class name */
.main {
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	background-color: #1f1f1f;
	color: #999797;
	height: 40%;
	padding: 50px;    
}

.classNameOne {
    margin-left: 28%;
	font-size: 60px;
	padding-bottom: 10px;
}


.tableHead {
	font-size: 20px;
}

.info {
	font-family: sans-serif;
	margin-top: -20px;
	padding: 15px;
	padding-bottom: 2px;
}

.footer-text {
	color: white;
	font-size: 18px;
}

footer a:hover {
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.main {
		font-size: 24px;
		height: 50%;
		padding: 20px;
	}

	.className,
	.classNameOne {
		font-size: 18px;
	}

	.col-12 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.col {
	padding-right: 10px !important;
	padding-left: 10px !important;
}

.section-header {
	font-size: 30px;
	background-color: #1f1f1f;
	color: white;
    text-align: center;
}



th,
td
{
	vertical-align: middle !important;
	text-align: center !important;
}

.today-time-table .table {
	margin-bottom: 0 !important;
}

.today-time-table {
	padding-bottom: 10px;
}

.faculties {
	padding-bottom: 10px;
}

table caption {

	caption-side: top;
	font-size: 25px;
	color: white;
}

.footer {
	height: 40px;
	width: 100%;
	background-color: #1f1f1f;
	color: white;
	font-size: 22px;
	text-align: center;
}

.footer p {
	margin-bottom: 0;
}

@media screen and (max-width: 400px) {
	.footer {
		font-size: 18px;
	}
}

.linkSection {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
}

.btnTimeTable {
	background-color: #5bc0de;
	color: #1f1f1f;
	font-weight: 600;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
}

.btnTimeTable:hover {
	color: #1f1f1f;
	background-color: #3db9df;
	text-decoration: none;
}
