body{
    text-align: center;
    background-color: rgb(0, 10, 68);
}

h1{
    color: cyan;
    font-size: 100px;

    text-shadow: 2px 2px black;

    text-align: center;



}

.drum{
    outline: none;
    border: 2px solid rgb(50, 214, 159);
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    color: crimson;
    border-radius: 15px;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: oldlace;
}

.pressed{
    background-color: crimson;
    color: oldlace;
}