/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding-bottom: 100px;
	box-sizing: border-box;
}

a:hover {
	cursor: pointer;
	text-decoration: none !important;
}

.development-list {
	padding-inline-start: 0 !important;
}

.development-list li {
	font-size: 25px;
	font-weight: 600;
	list-style-type: none;
}

.blurred {
	color: transparent;
	text-shadow: 0 0 10px rgba(255, 255, 255, 1.5);
}

/* Navbar - Start*/
.navbar {
	background-color: #272c30;
}
.navbar-brand {
	font-family: 'Alata';
	font-size: 1.8em !important;
	color: white !important;
}
/* Navbar - End*/

.container-fluid {
	/* min-height: 76.8vh; */
	padding-top: 5px;
	/* margin-bottom: 20px; */
}

.container {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

/* Cards - Start */
.card-body p {
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.card {
	background: #fff;
	margin-bottom: 2em;
}
.card img {
	width: 100%;
}
/* [class*="row"] {
	justify-content: center;
} */
/* Cards - End */

.cardHr {
	height: 5px;
	margin: 0;
	width: 70%;
	background: #364f6b;
}

.col-lg-4 {
	margin-bottom: 15px;
}

.card-top {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
	height: 150px;
	color: white;
	background-color: #007bff;
}

/* Footer - Start */

footer {
	position: absolute;
	bottom: 0;
	height: 60px;
}

.footer {
	/* left: 0;
	bottom: 0; */
	/* height: 40px; */
	width: 100%;
	background-color: #272c30;
	color: white;
	font-size: 22px;
	text-align: center;
}

.footer p {
	margin-bottom: 0;
}

.footer-text {
	font-family: 'Nunito', sans-serif;
	color: white;
	font-size: 18px;
}

footer a:hover {
	text-decoration: none;
	cursor: pointer;
}

@media screen and (max-width: 400px) {
	.footer {
		font-size: 18px;
	}
}

/* Footer - End */
